streamlit
pandas
transformers
torch
langchain
faiss-cpu
python-dotenv
requests
beautifulsoup4
lxml
warnings
json5
argparse
duckduckgo-search
bs4
scikit-learn
matplotlib
seaborn
tldextract
fuzzywuzzy
lxml
sentence-transformers
faiss-gpu
